@import '@app/assets/scss/colors.scss';

.label {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 23px;
  background-color: $color-third;
  border-radius: 90px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 90px;
    transition: 0.2s;
  }

  &:active:after {
    width: 24px;
  }
}

.checked {
  background: $color-main;

  &:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }
}

.checkbox {
  display: none;
}
