@import '@app/assets/scss/colors.scss';

.container {
  display: flex;
  align-items: center;
}

.icon {
  width: 11px;
}

.text {
  margin-left: 10px;
  color: $color-fourth;
  font: 11px 'GilroyMedium';
  user-select: none;
}
