{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "no-new-require": "off",
    "no-extend-native": "off",
    "space-before-function-paren": "off",
    "no-inner-declarations": "off",

    "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",

    "import/no-unresolved": "off",
    "import/no-cycle": "error",

    "react/prop-types": "off",
    "react/display-name": "off",
    "react-hooks/exhaustive-deps": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
