@import '@app/assets/scss/colors.scss';

.input {
  padding: 0 8px;
  width: 200px;
  line-height: 30px !important;
  font: 14px 'MyriadProRegular';
  background-color: $color-third;
  color: $color-fourth;
  border: none;
  border-radius: 3px;
  outline: none;

  &:disabled {
    background-color: $color-disabled;

    &,
    &::placeholder {
      color: $color-fourth-dark;
    }
  }

  &::placeholder {
    font-size: 13px;
    color: $color-fifth-medium;
    user-select: none;
  }

  &[type='password']:not(:placeholder-shown) {
    font-size: 20px;
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    appearance: none;
  }
}
