@import '@app/assets/scss/colors.scss';

.container {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 12px;
  background-color: $color-third;
  color: #fff;
  font: 12px 'GilroyRegular';
  user-select: none;
}
