@import '@app/assets/scss/colors.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.2s ease;

  &:hover {
    transition: 0s;
    background-color: $color-third-light;
  }
}

.disabled {
  pointer-events: none;

  & svg {
    fill: $color-disabled !important;
  }
}
