@import './assets/scss/normalize.scss';
@import './assets/scss/fonts.scss';

::-webkit-scrollbar {
  width: 8px;

  &-track {
    background-color: #464850;
  }

  &-thumb {
    background-color: #6a6b73;

    &:hover {
      background-color: #73757d;
    }

    &:active {
      background-color: #7c7e87;
    }
  }
}
