@import './assets/scss/normalize.scss';
@import './assets/scss/fonts.scss';

::-webkit-scrollbar {
  width: 4px;

  &-track {
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 90px;
  }

  &-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 90px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}
