@import '@app/assets/scss/colors.scss';

.container {
  min-width: 30%;
}

.selected-group {
  text-align: center;
  font: 18px 'GilroyMedium';
  margin-top: 10px;
  color: #fff;
  user-select: none;
}

.control-box {
  width: max-content;
  margin: 10px auto 0 auto;
}
