@import '@app/assets/scss/colors.scss';

.container {
  display: flex;
  height: 100%;
}

.button {
  width: 30px;
  height: 100%;

  &:hover svg {
    fill: #fff;
  }

  & svg {
    width: 12px;
    fill: $color-fourth-dark;
  }
}

.button-delete svg {
  fill: #ff0000;
}
