$color-main: #e72f75;
$color-main-dark: #b41953;

$color-second: #8f86eb;
$color-second-dark: #746cbe;

$color-third: #1f2023;
$color-third-dark: #2c2d32;
$color-third-medium: #34363c;
$color-third-light: #414655;

$color-fourth: #e6e6e6;
$color-fourth-dark: #d2d2d2;

$color-fifth: #8c8c8c;
$color-fifth-medium: #a0a0a0;

$color-error: #ff3333;
$color-disabled: #535353;
