$color-main: #8f86eb;

$color-second: #4f9666;

$color-third: #1f2023;
$color-third-dark: #2c2d32;
$color-third-medium: #34363c;
$color-third-light: #414655;

$color-fourth: #e6e6e6;

$color-error: #ff194b;
