@font-face {
  font-family: 'MyriadProRegular';
  src: url('~@app/assets/fonts/MyriadPro-Regular.ttf');
}

@font-face {
  font-family: 'NotoSansRegular';
  src: url('~@app/assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'GilroyRegular';
  src: url('~@app/assets/fonts/Gilroy-Regular.woff');
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('~@app/assets/fonts/Gilroy-Medium.woff');
}
