@import '@app/assets/scss/colors.scss';

.container {
  display: flex;
  height: 26px;
  background-color: $color-third;
}

.movable-region {
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  margin-left: 12px;
}
